.genre-page-container {
  background-color: rgba(29, 185, 84, 0.15);
  min-height: 100vh;
  margin-left: 270px;
  padding-bottom: 150px;
}

.genre-page-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
}
