.navItem-container {
  display: flex;
  width: 210px;
  height: 55px;
  left: 25px;
  top: 120px;
  border-radius: 10px;
  /* border: black solid 3px; */
}

.navItem-container-active {
  background: rgba(29, 185, 84, 0.15);
}
.navItem-div {
  width: 100%;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.navItem-icon {
  width: 20.18px;
  height: 21.6px;
  left: 55px;
  top: 136px;
}

.navItem-title {
  height: 21px;
  left: 98px;
  top: 138px;
  margin-left: 22px;
  /* FONT */
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #191414;
}
