.playlist-div {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 10px;
}

.playlist-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1920px) {
  .playlist-div {
    width: 200px;
  }

  .playlist-img {
    width: 200px;
    height: 200px;
  }
}

.playlist-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

.playlist-description {
  font-size: 14px;
  margin-left: 5px;
}
