.navBar-container {
  position: fixed;
  padding-left: 25px;
  padding-right: 35px;
  padding-top: 35px;
  width: 270px;
  height: 100vh;
  background-color: #ffffff;
  font-size: larger;
  z-index: 1;
}

.navbar-logo {
  margin-left: 25px;
  margin-bottom: 10px;
}

.navbar-btn {
  outline: none;
  border: none;
  background-color: transparent;
}
