.browse-div {
  background-color: rgba(29, 185, 84, 0.15);
  min-height: 100vh;
  min-width: fit-content;
  margin-left: 270px;
  padding: 50px;
}

.browse-title {
  font-size: 30px;
}

.browse-genres {
  display: flex;
  flex-direction: column;
}

.browse-genres-group {
  display: flex;
}
