.liked-songs-container {
  background-color: rgba(29, 185, 84, 0.15);
  min-height: 130vh;
  margin-bottom: 100px;
  margin-left: 270px;
  padding-bottom: 50px;
  min-width: fit-content;
}

.liked-songs-div {
  margin-left: 270px;
  padding: 50px;
}
