.liked-songs-container {
  min-height: 100vh;
  min-width: fit-content;
  background-color: rgba(29, 185, 84, 0.15);
  padding-bottom: 150px;
  margin-left: 270px;
}

.liked-songs-div {
  margin-left: 270px;
  padding: 50px;
}
